@model IEnumerable<CasoEstudioDos.Models.Comment>
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4" style="margin-bottom:10px">Cimientos Sólidos: Dominando los Principios SOLID en Programación</h1>
<div class="text-left" style="margin-top:50px">
    <div style="display: flex; flex-direction: row; align-items: center;">
        <h4 style="margin-right: 10px;">Principio de Responsabilidad Única (SRP)</h4>
        <div style="display: flex; align-items: center;">
            <div style="margin-right: 20px;">
                <img src="https://cdn4.iconfinder.com/data/icons/multimedia-75/512/multimedia-10-64.png" style="width: 30px; height: 30px;">
                <span>50</span>
            </div>
            <div>
                <img src="https://cdn4.iconfinder.com/data/icons/multimedia-75/512/multimedia-20-64.png" style="width: 30px; height: 30px;">
                <span>10</span>
            </div>
        </div>
    </div>
    <p>El principio de responsabilidad única establece que una clase debe tener una sola razón para cambiar. En otras palabras, una clase debe tener una única responsabilidad o tarea dentro del sistema. Esto promueve la cohesión y modularidad en el diseño del software, lo que facilita el mantenimiento, la comprensión y la reutilización del código. Cuando una clase asume múltiples responsabilidades, se vuelve más propensa a cambios y más difícil de entender, lo que puede llevar a un código frágil y difícil de mantener. Al aplicar el principio de responsabilidad única, se fomenta la creación de clases más pequeñas y especializadas, cada una centrada en una tarea específica, lo que conduce a un diseño más flexible y robusto del sistema.</p>
</div>
@foreach (var comment in Model)
{
    <div>
        <p>@comment.Contenido</p>
    </div>
}

<form method="post" asp-action="AgregarComentario">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="contenido" placeholder="Escribe un comentario" aria-label="Escribe un comentario" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Agregar</button>
    </div>
</form>


